@import '../select/mixins.scss';
@import 'include-media/dist/_include-media.scss';

.Banner{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  justify-content: space-between;
  max-width: 1140px;
  border-radius: 4px;
  margin: 0 auto;
  padding: 25px 10px 30px;
  position: relative;
  height: 300px;
  box-shadow: 0 4px 12px 0 rgba(0,0,0,.2);
  background-color: #fff;

  @include media("<=375px") {
      height: 200px;
  }

  &__title{
    @include headerDesctop();
    display: flex;
    text-align: center;
    display: inline-block;
    width: 100%;
    font-family: 'Gilroy', sans-serif;
    font-weight: 800;
    color: #4a4a4a;
    margin: 0 auto 22px;
    @include media("<=560px") {
        font-size: 25px;
    }
    @include media("<=375px") {
        font-size: 14px;
    }

    &--is-blue{
      color: #1890ff;
      font-weight: 600;
      font-size: 28px;
      display: block;
      margin-bottom: 40px;
      margin-top: 10px;

      @include media("<=560px") {
          font-size: 23px;
      }
      @include media("<=375px") {
          font-size: 14px;
      }
    }
  }

  &__section{
    position: absolute;
    width: 100%;
    transition: opacity 1s;
    border-radius: 4px;
    left: 0px;
    padding-bottom: 30px;
    top: 0px;
    padding-top: 25px;

    &:nth-child(3){
      z-index: 3;
      height: 300px;
      overflow: hidden;
      visibility: hidden;
      transition: visibility 0.5s ease 0.6s;

      .Banner__title{
        opacity: 0;
        transition: opacity 0.5s;
      }

      .Timer{
        opacity: 0;
        transition: opacity 0.5s ease 0.3s;
      }

      .Countdown__contribute{
        opacity: 0;
        transition: opacity 0.5s ease 0.6s;
      }
    }

    &:nth-child(2){
      z-index: 3;
      height: 300px;
      overflow: hidden;
      visibility: hidden;
      transition: visibility 0s 0.4s;

      .Banner__title, .TokenSaleDetails__group, a{
        opacity: 0;
        transition: opacity 0.4s;
      }

    }

  }

  .Countdown{
    padding: 0px 10px;

    .Countdown__input-form{
      display: flex;
      justify-content: center;
      width: 100%;
      max-width: 469px;
      margin: 0 auto;
    }
  }

  .TokenSaleDetails{
    width: 100%;
    text-align: center;

    .Banner__title{

      &--is-blue{
        color: #1890ff;
        display: inline;
        font-size: inherit;
      }

      font-size: 18px;

      @include media(">375px") {
        font-size: 28px;
        padding: 0 50px;
      }

      @include media(">=512px") {
        font-size: 32px;
        margin-bottom: 30px;
        margin-top: 10px;
        padding: 0px;
      }

      @include media(">tablet") {
        font-size: 40px;
        margin-bottom: 30px;
        margin-top: 10px;
        padding: 0px;
      }

    }

    &__countdown{
      color: #1890ff;
      margin-left: 10px;
    }

    &__title{
      font-family: Roboto,sans-serif;
      font-weight: 500;
      font-size: 25px;
      color: #1890ff;
      margin-bottom: 10px;

      @include media("<=630px") {
        font-size: 28px;
      }

      @include media("<=560px") {
        font-size: 21px;
      }


      @include media("<=375px") {
        font-size: 16px;
      }

     @include media(">=413px") {
        font-size: 22px;
      }

      @include media(">=512px") {
        font-size: 25px;
      }

    }

    &__group{
      display: flex;
      justify-content: center;

      div{
        margin: 0px 50px;

        @include media("<=560px") {
          margin: 0px 20px;
        }
      }
    }

    &__value{
      font-family: Roboto,sans-serif;
      font-size: 30px;
      font-weight: 800;
      color: #4a4a4a;
      margin-bottom: 20px;

      @include media("<=630px") {
        font-size: 28px;
      }

      @include media("<=560px") {
        font-size: 19px;
      }
      @include media("<=375px") {
        font-size: 16px;
      }

     @include media(">=413px") {
        font-size: 20px;
      }

      @include media(">=512px") {
        font-size: 27px;
      }

      @include media(">tablet") {
        font-size: 40px;
      }

    }

    & a{
      @include media("<=560px") {
        margin-top: 20px;
        display: block;
      }
    }

    &-btn{
      font-family: Roboto,sans-serif;
      font-size: 20px;
      font-weight: 500;
      background-color: #1890ff;
      width: 238px;
      height: 52px;
      line-height: 52px;

      &:focus,
      &:hover{
        box-shadow: none;
        background-color: #46adfb;
      }

      @include media("<=375px") {
        height: 30px;
        line-height: 30px;
        font-size: 16px;
        width: 173px;
      }
    }
  }
}


.Banner__section--is-active.Banner__section:nth-child(3) {
  visibility: visible;
  .Banner__title{
    opacity: 1;
    transition: opacity 0.5s;
  }

  .Timer{
    opacity: 1;
    transition: opacity 0.5s;
  }

  .Countdown__contribute{
    opacity: 1;
  }
}

.Banner__section--is-active.Banner__section:nth-child(2) {
  visibility: visible;

  .Banner__title{
    opacity: 1;
    transition: opacity 0.5s ease 1s;
  }

  .TokenSaleDetails__group{
    opacity: 1;
    transition: opacity 0.5s ease 1.3s;;
  }

  a {
    opacity: 1;
    transition: opacity 0.5s ease 1.6s;;
  }
}

