@import '../select/mixins.scss';
@import 'include-media/dist/_include-media.scss';

$TIME_UNIT_VALUE_COLOR:  #4a4a4a;
$TIME_UNIT_HEADER_COLOR: #1890ff;
$COUNTDOWN_BACKGROUND: #ffffff;

.Countdown {

  & .Banner__title{
    text-align: center;
    display: inline-block;
    width: 100%;
    font-family: Gilroy,sans-serif;
    font-weight: 800;
    color: #4a4a4a;
    margin-bottom: 10px;
    margin-top: 0px;
    font-size: 17px;

    @include media(">375px") {
      font-size: 26px;
      margin-bottom: 20px;
      margin-top: 10px;
    }

    @include media(">475px") {
      font-size: 32px;
      margin-top: 0px;
    }

    @include media(">=604px") {
      margin-top: 10px;
    }

    @include media(">730px") {
      font-size: 36px;
      margin-bottom: 25px;
    }

    @include media(">tablet") {
      font-size: 40px;
    }
  }

  &__contribute{
    text-align: center;
  }

  &__pre-contributions-txt{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 17px;
    color: #1890FF;
    position: relative;
    display: block;

    @include media(">375px") {
      font-size: 22px;
      margin-top: 15px;
    }

    @include media(">475px") {
      font-size: 24px;
    }

    @include media(">730px") {
      font-size: 30px;
      margin-top: 35px;
      display: inline-block;
      margin-right: 20px;
    }

    @include media(">tablet") {
      font-size: 40px;
      position: relative;
      top: 3px;
      margin-top: 30px;
    }

  }

  &__btn{
    font-family: Roboto,sans-serif;
    font-weight: 500;
    background-color: #1890ff;
    margin-top: 15px;
    width: 100px;
    height: 30px;
    font-size: 13px;
    line-height: 30px;

    @include media(">375px") {
      height: 42px;
      line-height: 42px;
      font-size: 20px;
      width: 142px;
    }
  }

}

.form-wrapper {
    position:relative;
    height:300px;
    @include media("<=375px") {
        height: 200px;
    }
}
.Timer{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    max-width: 440px;
    margin-bottom: 10px;

    @include media(">730px") {
      margin-bottom: 0px;
   }

    &__time-unit{
        display: flex;
        text-align: center;
        flex-direction: column;
        margin-right: 5%;
        width: 25%;

        @include media(">375px") {
          font-size: 21px;
        }
    }

    &__item:last-child{
        margin-right: 0;
    }

    &__value{
      font-family: 'Gilroy', sans-serif;
      font-weight: 800;
      color: $TIME_UNIT_VALUE_COLOR;
      font-size: 15px;
      padding-top: 6px;

      @include media(">375px") {
        font-size: 26px;
      }

      @include media(">475px") {
        font-size: 29px;
      }

      @include media(">730px") {
        font-size: 32px;
      }

      @include media(">tablet") {
        font-size: 40px;
      }

    }

    &__header{
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 13px;
        color: $TIME_UNIT_HEADER_COLOR;

        @include media(">475px") {
          font-size: 22px;
        }

        @include media(">730px") {
          font-size: 25px;
        }
    }
}
