.calculateContribution__title {
  font-weight: bold;
  letter-spacing: normal;
  @media screen and (max-width: 1190px) {
    text-align: center;
  }
}

.calculateContribution__input {
  color: #1890ff;
  margin-bottom: 35px;
  @media screen and (max-width: 1190px) {
    text-align: center;
  }
  > input {
    width: 191px;
    display: inline-block;
    @media screen and (max-width: 600px) {
      width: 120px;
    }
  }
}