
.calculateContribution__title {
    font-weight: bold;
    letter-spacing: normal;
  }
  
  .calculateContribution__input {
    color: #1890ff;
    margin-bottom: 35px;
    > input {
      width: 191px;
      display: inline-block;
    }
  }