@import 'include-media/dist/_include-media.scss';
.sliderMediaList {
  padding: 35px 0 20px;
  @include media() {
    padding: 0;
  }
}
.Slider{
    overflow-y: hidden;
    overflow-x: hidden;
    position: relative;
    z-index: 2;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    -webkit-overflow-scrolling: touch;

    &--is-always-row{
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    @include media(">desktop") {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &--has-arrows-tablet{
        display: flex;
        align-items: center;
        justify-content: space-between;

        & .ArrowButton{
          display: flex;
        }
    }
}
