@import '../select/mixins.scss';
@import 'include-media/dist/_include-media.scss';

.developersCards {
  max-width: 1140px;
  margin: 0 auto;
  margin-top:-90px;
  @include media("<=tablet") {
    padding: 0 0 20px;
    text-align: center;
  }
  @include media(">tablet") {
    padding: 0 0 20px;
  }
  .ant-card-body {
    padding: 0;
    margin-bottom: 30px;
  }
  .textCard {
    padding: 0 5% 0 0;
    &--left {
      .ant-card-body {
        margin-right: 3%;
      }
    }
    &-header {
      @include headerDesctop();
      margin-top: 20px;
      font-family: 'Gilroy', sans-serif;
      color: #4a4a4a;
      font-weight: 800;
      @include media("<=375px") {
        font-size: 25px;
        line-height: 1.16;
        margin-bottom:15px;
      }
    }
    &-content {
      font-family: 'Roboto', sans-serif;
      font-size: 18px;
      line-height: 1.56;
      margin-bottom: 20px;
      @include media("<=375px") {
        font-size: 12px;
        line-height: 1.42;
        margin-bottom: 15px;
      }
    }
  }
  .imageCard {
    width: 100%;
    height: 100%;
    max-width: 560px;
    max-height: 330px;
    border-radius: 4px;
    position: relative;

    &-imageContainer{
      background-size: cover;
      background-position: bottom;
      height: 100%;
      background-repeat: no-repeat;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      margin: auto;
      width: 100%;
    }
    
    &-imagecoder {
      background-size: cover;
      background-position: center;
      height: 100%;
      background-image: url('/static/assets/networkjs.png')
    }
    
  }
  .ant-btn.developersCard-btn.ant-btn-primary {
    @include buttonDefault();
    width: 186px;
    height: 52px;
    line-height: 52px;
    @include media("<=375px") {
      width: 100px;
      height: 24px;
      font-size: 12px;
      line-height: 24px;
    }
  }
}
