.dashboardHeader {
    text-align: center;

    &__logo{
        max-width: 150px;
        margin-top: 35px;
        margin-bottom: 30px;
    }
}

.dashboardHeader__main-title {
    color: #ffffff;
    margin-bottom: 2px;
    font-weight: bold;
}

.dashboardHeader__help {
    color: #ffffff;
    font-size: 18px;
    margin-top: 25px;
    font-weight: 500;
}

.dashboardHeader__guide {
    margin: 20px 0px 10px 0px;
    border-radius: 4px;
    background-color: #24F281;
    border: none;
    width: 129px;
    height: 36px;
    color: white;
    font-size: 16px;
    font-weight: 500;
    &:focus,
    &:hover{
      background-color: rgb(85, 234, 165);
      color: white;
      border-color: rgb(85, 234, 165);
    }
}

.dashboardHeader__mobile {
    display: none;
    max-width: 1160px;
    & p{
      margin-bottom: 0px;
    }
}

@media only screen and (max-width: 1130px) {
    .dashboardHeader__mobile {
        width: 90%;
        margin: 10px auto;
        display: block;
    }
}
