@import '../select/mixins.scss';
@import 'include-media/dist/_include-media.scss';

.appsSection {
    max-width: 1140px;
    @include media(">375px"){
      margin: 20px auto 20px;
    }
    @include media("<=375px"){
      padding: 0 0 13px;
    }
    text-align: center;
  &-header {
    @include headerDesctop();
    font-family: 'Gilroy', sans-serif;
    font-weight: 800;
    margin-bottom: 20px;
    padding: 0 20px;
    color: #4a4a4a;
    &--applications {
      margin-bottom: 15px;
    }
    @include media("<=375px"){
      @include headerMobile();
      line-height: 1.16;
      font-weight: 800;
      margin-bottom: 10px;
    }
  }
  &-text{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 1.56;
    text-align: center;
    color: #4a4a4a;
    margin-bottom:20px;
    padding: 0 10%;

    @include media("<=375px") {
      font-size: 12px;
      line-height: 17px;
      padding: 0 5%;
    }
  }
  &-btn.ant-btn {
    @include buttonDefault();
    width: 204px;
    height: 52px;
    line-height: 52px;
    @include media("<=375px"){
      border-radius: 2px;
      height:24px;
      font-size:12px;
      line-height: 24px;
      width:100px;
      padding: 0;
    }
  }
  &-gridContainer {
    margin: 0 -8px;
    @include media("<=375px"){
      margin: 0 -4px 8px;
    }
    display:flex;
    flex-wrap: wrap;
  }
  &-col {
    margin-bottom: 16px;
    @include media("<=375px"){
      margin-bottom: 8px;
      &--myBitBudget{
        display: none
      }
    }
  &-poweredBy {
    text-align: center;
    &-image {
      width: 200px;
    }
    @include media(">375px") {
      text-align: right;
      &-image {
        margin-top: -80px;
      }
    }
    @include media(">375px", "<=tablet") {
      &-image {
        width: 130px;
      }
    }
  }
  }

  .ant-card-body {
    display: flex;
    flex-direction: column;
    padding:0;
    height:100%;
  }
  .appCard {
    background-image: linear-gradient(to right, #001358, #125ac4);
    height: 100%;
    border-radius: 4px;
    margin: 0 8px;
    @include media("<=375px"){
      margin: 0 4px;
    }
    padding: 20px 15px 13px;
    &-image {
      margin: 0 auto 20px;
      height: 70px;
      @include media("<=375px"){
        height: 60px;
        margin: 0 auto 5px;
      }
      text-align: center;
      & .myBitFork {
        height: 35px;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        @include media("<=375px"){
          height: 25px;
          margin: 0 auto 5px;
        }
      }
      & .myBitDropzone {
        height: 45px;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        @include media("<=375px"){
          height: 30px;
          margin: 0 auto 5px;
        }
      }
      & .myBitMydax {
        height: 60px;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        @include media("<=375px"){
          height: 45px;
          margin: 0 auto 5px;
        }
      }
      & img {
        top: 0;
        width: 100%;
        height: 100%;
      }
    }
    &-content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      color: #fff;
      text-align: center;
      font-family: 'Roboto', sans-serif;
      font-size: 14px;
      line-height: 1.71;
      p {
        margin-bottom: 20px;
        line-height: 1.8rem;
      }
      @include media("<=375px"){
        font-size: 8px;
        p {
          margin-bottom: 5px;
          line-height: 1.6;
        }
      }
    }
    &-btn {
      @include buttonDefault();
      align-self: center;
      padding: 0 15px;
      height: 24px;
      font-size: 12px;
      line-height: 24px;
      &.bordered {
        background: transparent;
        border: 1px solid #fff;
        color: #fff;
      }
      @include media("<=375px"){
        height: 16px;
        line-height: 16px;
        font-size: 8px;
      }
    }
  }

  .contentWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
}
