@import 'normalize.css';
@import 'flexboxgrid-sass/dist/flexboxgrid.css';
@import 'include-media/dist/_include-media.scss';
@import '../components/select/mixins.scss';
@import './colors.scss';
@import './typography.scss';
@import './forms.scss';

// import antd styles separately
@import 'antd/lib/style/index.css';
@import 'antd/lib/tabs/style/index.css';
@import 'antd/lib/grid/style/index.css';
@import 'antd/lib/form/style/index.css';
@import 'antd/lib/icon/style/index.css';
@import 'antd/lib/input/style/index.css';
@import 'antd/lib/menu/style/index.css';
@import 'antd/lib/card/style/index.css';
@import 'antd/lib/button/style/index.css';


*, *:after, *:before {
  box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    transform: translate3d(0,0,0);
    -webkit-font-smoothing: subpixel-antialiased;
}


html {
  font-family: $base-font-family;
  font-size: $base-font-size;
  overflow-x: hidden;
}

body {
  line-height: 1.2;
  color: $text-color;
  -webkit-overflow-scrolling:touch;
}

video {
  width: 100%;
  height: 100%;
}

b {
  font-weight: 900;
}
a:hover {
  color: $button-color;
  transition: color 180ms ease-in;
}

.MainWrapper__mobileMenu--is-open{
  height: 100vh;
  overflow: hidden;
}

.mainContainer {
  padding: 0 2%;
  max-width: 1440px;
  margin: 0 auto;
}
.headerWrapper {
  background: linear-gradient(to top, #001358, #125ac4);
}
.countdownWrapper{
  position: relative;
  transform: translateY(-50%);
}

.grid__container {
  &--is-main-container {
    margin-top: -500px;
    margin-bottom: 640px;
    @include media("<desktop") {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  &--is-achievements-container {
    margin: 50px auto;
    width: 1600px;
    @include media("<desktop") {
      width: 100%;
    }
  }
  &--is-community-container{
    position: relative;
    height: 400px;
    display: flex;
    margin-bottom: 100px;

    @include media("<1244px") {
      & .Icon{
        margin: 0px 10px !important;
      }
    }

    @include media("<desktop") {
      margin-top: 0px;
      margin-bottom: 0px;

      & .Icon{
        margin: 0px 0px !important;
      }

      & .Highlight__wrapper{
        margin-top: 0px !important;;
      }
    }

    @include media("<700px") {
      & .Icon{
        margin: 0px 15px !important;
      }
    }

    @include media("<585px") {
      & .Icon{
        margin: 0px 0px !important;
      }
    }

    @include media("<420px") {
      margin-bottom: 100px;
    }

    @include media("<376px") {
      margin-bottom: 160px;
    }
  }

  &--is-industries-container{
    width: 100%;
    margin: auto;
    min-height: 540px;

    @include media("<desktop") {
      min-height: 562px;
    }

    @include media("<tablet") {
      min-height: 520px;
    }
  }

  &--is-media-container{
    margin-top: 100px;

    @include media("<desktop") {
      margin-top: -100px;
      margin-bottom: 150px;
    }
  }

  &--is-video-open{
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
  }
}

.LandingPage .appsSection-col:nth-child(9){
  display: none;
}

.Main__wrapper{
  max-width: 1920px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  height: auto;

  &--is-mobile-menu-open{
    height: 100vh;
    overflow: hidden;
  }

  &--is-video-open{
    height: 100vh;
  }
}

.player {
    float: none;
    clear: both;
    width: 1170px;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
    margin: 0 auto;
    max-width: 100%;
}
.player iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: 1170px;
    max-height: 668px;
}

.Home__btn-start-here{
    @include testAlphButton();
    margin-top: 40px;

    &--is-statement{
      margin-top: 0px;
    }
}
